name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t simplepytest .

    - name: Run Docker container with TEST_NUMBER
      env:
        TEST_NUMBER: ${{ vars.TEST_NUMBER }}
      run: |
        docker run -e TEST_NUMBER="$TEST_NUMBER" simplepytest