# name: ECR Push with IAM User
#
# on:
#   push:
#     branches: [ master ]
#
# jobs:
#   build-and-push-ecr:
#     runs-on: ubuntu-latest
#
#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v3
#
#     - name: Configure AWS credentials
#       uses: aws-actions/configure-aws-credentials@v4
#       with:
#         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#         aws-region: ${{ vars.AWS_REGION }}
#
#     - name: Login to Amazon ECR
#       id: login-ecr
#       uses: aws-actions/amazon-ecr-login@v2
#
#     - name: Get short SHA
#       id: slug
#       run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
#
#     - name: Build, tag, and push image to Amazon ECR
#       env:
#         ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
#         ECR_REPOSITORY: ${{ vars.ECR_REPOSITORY }}
#         IMAGE_TAG: master-${{ steps.slug.outputs.sha_short }}
#       run: |
#         docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
#         docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
#         echo "Image pushed: $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"
